# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.3.1

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Syntax check
          command: |
            php -l Curl.php
            php -l MultiCurl.php
            php -l ShareCurl.php
      - run: php tests/curl_test.php
      - run: php tests/multi_curl_test.php
